* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

img {
    height: 100px;
}

.header__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #D0BAAD;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.7rem;
    color: #100D0D;
}

.navlist {
    padding: 15px 20px;
    color: #06090C;
    font-size: 1.2rem;
}

.navlist:hover {
    background-color: #9e8679;
    border-radius: 10px;
}

section {
    width: 100%;
}

.landing__section {
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.landing__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(./img/second.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -10;
    filter: blur(2px);
}

.landing__section .section__details {
    width: 50%;
    margin-right: auto;
    color: #06090C;

}

.section__details {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #06090C;
}

.btn {
    width: 12%;
    margin: 1rem 0;
    padding: 1rem 0;
    border: none;
    background-color: #eeb91b;
    color: #333;
    border-radius: 10px;
}

.btn:hover {
    background-color: #06090C;
    color: #FFFFFC;
}

.features__section {
    /* padding: 5rem 0; */
    padding-top: 2rem;
    background-color: #D0BAAD;
}

.features__section .section__header {
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;
}

.features__section .section__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__section .section__img {
    width: 50%;
}

.features__section .section__details {
    width: 50%;
    padding: 0 2rem;

}

.features__section .section__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn__two {
    width: 24%;
    padding: 1rem 0;
    margin: 1rem 0;

}

.ourmenu__section {
    padding: 0 5rem;
    background-color: #D0BAAD;
}

.ourmenu__section .section__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.ourmenu__section .section__header {
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;
}

.ourmenu__section .item__image {
    width: 100%;
    height: 180px;
}

.ourmenu__section .item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__content .detalis {
    padding: 20px;
    background-color: #333;
    color: #FFFFFC;
    text-align: center;
}

.about--me--section {
    background-color: #D0BAAD;

}

.about--me--section .section__header {
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;
}

.about--me--section .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about--me--section .details .image img {
    width: 150px;
    height: 120px;
    border-radius: 50px;
}

.about--me--section .about__details {
    width: 40%;
    text-align: center;
}

.my__name {
    font-size: 1.5rem;
    margin-top: 10px;
}

.contact--me--section {
    padding: 0 5rem;
    background-color: #D0BAAD;
}

.contact--me--section .section__header {
    font-size: 2.5rem;
    padding: 20px 0;
    text-align: center;
}

.contact--me--section .all__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__form {
    width: 50%;
    margin-top: 20px;
}

.input__field .contact__input {
    padding: 15px 45px;
    font-size: 15px;
    border: 3px solid #9e8679;
    border-radius: 10px;
    outline: none;
}

.contact__input {
    margin: 5px 0;
    padding: 20px 50px;

}

.input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__field .textarea {
    margin: 20px 0;
    width: 591px
}

.textarea {
    font-size: 15px;
    padding: 3rem 3rem;
    border: 3px solid #9e8679;
    border-radius: 10px;
    outline: none;
}

.input__field .contact__btn {
    width: 120px;
    font-size: 1rem;
    /* margin-left: 1rem; */
}

.all__contacts .contact__list {
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.contact__list .contact__item {
    padding: 10px 0;
}

.contact__item:nth-child(1) {
    font-weight: bold;
}

.contact__item:nth-child(2) {
    font-weight: bold;
}

.contact__item:nth-child(4) {
    font-weight: bold;
}

.contact__item:nth-child(6) {
    font-weight: bold;
}

.map__section {
    width: 100%;
    background-color: #D0BAAD;
}

.embed__map iframe {
    width: 100%;
    height: 500px;
    filter: invert(100%);
}

.order__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.order__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    background: url(./img/footerlast.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -10;
    /* filter: blur(2px); */
}

.section__header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFC;
}

.buttons {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order__button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: none;
    background-color: #eeb91b;
    color: #06090C;
    border-radius: 10px;
}

.bottom {
    background-color: #eeb91b;
    color: #06090C;
}

.order__button:hover {
    background-color: #06090C;
    color: #FFFFFC;
}

/* .bottom:hover {
    background-color: #06090C;
    color: #FFFFFC;
} */

footer {
    background-color: #D0BAAD;
}

.footer__text {
    width: 100%;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__link {
    display: flex;
    justify-content: center;
}

.link__icon {
    padding: 0 10px;
    font-size: 25px;
    color: #06090C;
}