* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
}

.header__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #D0BAAD;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 1.7rem;
    color: #100D0D;
}

.navbar {
    position: relative;
    width: 600px;
    height: 50px;
}

.navlist {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffff;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    /* padding: 1rem 2rem;
    color: #06090C;
    font-size: 1.2rem; */
}

.navbar .animation {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: #b8a092;
    border-radius: 10px;
    transition: all 0.6s ease 0s;
}

a:nth-child(1) {
    width: 100px;
}

.nav__container .start__home,a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

a:nth-child(2) {
    width: 110px;
}

.nav__container .start__about,a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

a:nth-child(3) {
    width: 100px;
}

.nav__container .start__services,a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

a:nth-child(4) {
    width: 140px;
}

.nav__container .start__contact,a:nth-child(4):hover~.animation {
    width: 140px;
    left: 320px;
}

a:nth-child(5) {
    width: 120px;
}

.nav__container .start__booking,a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
}

/* .navlist:hover {
    background-color: #9e8679;
    border-radius: 1rem;
} */

section {
    width: 100%;
}

.landing__section {
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.landing__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/second.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -10;
    filter: blur(2px);
}

.landing__section .section__details {
    width: 50%;
    margin-right: auto;
    color: #06090C;

}

.section__details {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #06090C;
}

.btn {
    width: 12%;
    margin: 1rem 0;
    padding: 1rem 0;
    border: none;
    background-color: #eeb91b;
    color: #333;
    border-radius: 1rem;
}

.btn:hover {
    background-color: #06090C;
    color: #FFFFFC;
}

.features__section {
    /* padding: 5rem 0; */
    padding-top: 2rem;
    background-color: #D0BAAD;
}

.features__section .section__header {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;
}

.features__section .section__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__section .section__img {
    width: 50%;
}

.features__section .section__details {
    width: 50%;
    padding: 0 2rem;

}

.features__section .section__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.btn__two {
    width: 24%;
    padding: 1rem 0;
    margin: 1rem 0;

}

.ourmenu__section {
    padding: 0 5rem;
    background-color: #D0BAAD;
}

.ourmenu__section .section__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.ourmenu__section .section__header {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;
}

.ourmenu__section .item__image {
    width: 100%;
    height: 11.25rem;
}

.ourmenu__section .item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__content .detalis {
    padding: 1.5rem;
    background-color: #333;
    color: #FFFFFC;
    text-align: center;
}

.about--me--section {
    background-color: #D0BAAD;

}

.about--me--section .section__header {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;
}

.about--me--section .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about--me--section .details .image img {
    width: 9.75rem;
    height: 7.5rem;
    border-radius: 3.75rem;
}

.about--me--section .about__details {
    width: 40%;
    text-align: center;
}

.my__name {
    font-size: 1.5rem;
    margin-top: 0.625rem;
}

.contact--me--section {
    padding: 0 5rem;
    background-color: #D0BAAD;
}

.contact--me--section .section__header {
    font-size: 2.5rem;
    padding: 1.25rem 0;
    text-align: center;
}

.contact--me--section .all__contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__form {
    width: 50%;
    margin-top: 1.25rem;
}

.input__field .contact__input {
    padding: 0.938rem 2.813rem;
    font-size: 0.938rem;
    border: 3px solid #9e8679;
    border-radius: 0.625;
    outline: none;
}

.contact__input {
    margin: 0.313rem 0;
    padding: 1.25rem 3.25rem;

}

.input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__field .textarea {
    margin: 1.25rem 0;
    width: 37rem;
}

.textarea {
    font-size: 0.938rem;
    padding: 3rem 3rem;
    border: 3px solid #9e8679;
    border-radius: 10px;
    outline: none;
}

.input__field .contact__btn {
    width: 7.5rem;
    font-size: 1rem;
    /* margin-left: 1rem; */
}

.all__contacts .contact__list {
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.contact__list .contact__item {
    padding: 0.625rem 0;
}

.contact__item:nth-child(1) {
    font-weight: bold;
}

.contact__item:nth-child(2) {
    font-weight: bold;
}

.contact__item:nth-child(4) {
    font-weight: bold;
}

.contact__item:nth-child(6) {
    font-weight: bold;
}

.map__section {
    width: 100%;
    background-color: #D0BAAD;
}

.embed__map iframe {
    width: 100%;
    height: 500px;
    filter: invert(100%);
}

.order__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.order__section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    background: url(./img/footerlast.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -10;
    /* filter: blur(2px); */
}

.section__header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFC;
}

.buttons {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order__button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: none;
    background-color: #eeb91b;
    color: #06090C;
    border-radius: 10px;
}

.bottom {
    background-color: #eeb91b;
    color: #06090C;
}

.order__button:hover {
    background-color: #06090C;
    color: #FFFFFC;
}

/* .bottom:hover {
    background-color: #06090C;
    color: #FFFFFC;
} */

footer {
    background-color: #D0BAAD;
}

.footer__text {
    width: 100%;
    height: 40px;
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__link {
    display: flex;
    justify-content: center;
}

.link__icon {
    padding: 0 0.625rem;
    font-size: 1.563rem;
    color: #06090C;
}