* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
   text-decoration: none;
}
.header__section {
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.logo {
    font-weight: bold;
}
.navlist {
    padding: 0 2rem;
}
section {
    /* padding: 0 4rem; */
    width: 100%;
    height: 100vh;
}
.section__one {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
       
}
.section__one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:url(./special.jpg) no-repeat fixed center ;
    background-size: cover;
    z-index: -10;
}
.para__one {
    width: 40%;
    margin: 2rem 0;
    padding: 2rem 0;
    font-size: 30px;
    font-weight: bold;
    color: #EEE;
}
.btn {
    width: 12%;
    margin: 10px 0;
    padding: 10px 0;
    border: none;
    background-color: #eeb91b;
    color: #333;
    border-radius: 10px;
}
.btn:hover {
    background-color:#06090C;
    color: #FFFFFC;
}
.section__two {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 100%;
}
.section__two::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./great.jpg) no-repeat fixed center;
    background-size: cover;
    z-index: -10;
}
.section__two {
    display: flex;
    justify-content: center;
}
.section__context {
    margin-left: auto;
    width: 50%;
}
.heading__two {
    width: 40%;
    font-weight: bold;
    font-size: 3rem;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #06090C;
}

.para__two {
    width: 90%;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #06090C;
    display: flex;
     
}
.btn__two{
    width: 24%;
    margin:  1rem;
    padding: 10px 0;
}
.section__three {
    width: 100%;
    height: 100vh;
}
.our__heading {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* outline: none; */
    font-size: 2rem;
    font-weight: bold;
    background-color: #C9AB92;
    color: #EEE;
}
.our__menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* outline: none; */
    background-color: #C9AB92;
    color: #06090C;
}
.img__item {
    width: 20%;
    height: 60vh;
    margin: 10px;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: #bb9c83;
    border-radius: 10px;
    outline: none;
    
}
.img__item img {
    width: 100%;
    height: 40vh; 
    border: 3px solid transparent;
    border-radius: 10px;
}
.pizza__name {
    /* margin-top: 2rem; */
}
.pizza__name .price__chat {
    width: 30%;
    height: 100vh;
    /* margin-top: 3rem; */
    background-color: #06090C;
    color: #EEE;
    border-radius: 10px;
}
.price__chat {
    margin-top: 10px;
}